# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.xdv
*.lof
*.lot
*.idx
*.ilg
*.ind
*.glg
*.glo
*.gls
*.acn
*.acr
*.alg
*.ist
*.synctex
*.listing
*.lol
_minted-*/
